* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: serif;
    font-size: 17px;
    color: #fff;
    line-height: 1.6;
}

#showcase {
    background-image: url('../images/Kaffeerad_gauss.jpg');
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    text-align: center;
}

#showcase h1 {
    font-size: 50px;
    line-height: 1.2;
    text-transform: uppercase;
}

#showcase p {
    font-size: 20px;
}

.grid {
    display: grid;
    width: 100;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px;
    column-gap: 50px;
    justify-content: center;
    margin-top: 30px;
    color: rgb(46, 33, 14);
}

.grid h2 {
    font-size: 25px;
    color: rgb(46, 33, 14);
}

.grid div {
    font-size: 20px;
    font-weight: bold;
}

.beans {
    background-color: #d6d1bea1;
    background-image: url('../images/beans1.jpg');
    background-position: center;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 10px;
    width: 100%;
}

.zeit {
    background-color: #d6d1bea1;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 10px;
    width: 100%;
}

.standort {
    background-color: #d6d1bea1;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 10px;
    width: 100%;
}

.impress {
    background-color: #d6d1bea1;
    padding: 5px 10px;
    font-size: 12px;
    width: 100;
}

#showcase .button {
    font-size: 18px;
    text-decoration: none;
    color: cadetblue;
    border: #ffffff 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
}

#showcase .button:hover {
    background: #ffffff;
    color: black;
}

#section-a {
    padding: 20px;
    background: #181202;
    color: #fff;
    text-align: center;
}